@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');


.fa {
color: #d5eebb;


}



body{

    display: flex;
    justify-content: center;
    align-items: center;
    background: #4e664f;
    font-family: 'Josefin Sans', Roboto;
    font-size: 15px;
}



.button {
  cursor: pointer;
background-color: #4e664f;
  border: none;
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}






audio {
/*border-radius: 90px;*/
width: 200px;
height: 35px;
margin-top: 5px;
margin-bottom: 5px;
}

audio::-webkit-media-controls-mute-button {
display: none !important;
}

audio::-webkit-media-controls-volume-slider {
display: none !important;
}

audio::-webkit-media-controls-volume-control-container.closed {
display: none !important;
}
audio::-webkit-media-controls-volume-control-container{
display: none !important;
}



