@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
#PS {display: none;}

.fa {
color: #d5eebb;


}



body{

    display: flex;
    justify-content: center;
    align-items: center;
    background: #4e664f;
    font-family: 'Josefin Sans', Roboto;
    font-size: 15px;
}



.button {
  cursor: pointer;
background-color: #4e664f;
  border: none;
  color: #afc29b;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}






audio {
/*border-radius: 90px;*/
width: 200px;
height: 35px;
margin-top: 5px;
margin-bottom: 5px;
}

audio::-webkit-media-controls-mute-button {
display: none !important;
}

audio::-webkit-media-controls-volume-slider {
display: none !important;
}

audio::-webkit-media-controls-volume-control-container.closed {
display: none !important;
}
audio::-webkit-media-controls-volume-control-container{
display: none !important;
}

img.rot {
  animation: 3s linear 0s normal none infinite running rot;
  -webkit-animation: 3s linear 0s normal none infinite running rot;
  width: 50px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



