
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
color: #d5eebb;
text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4e664f;
   /* font-family: 'Josefin Sans', Roboto; */
    font-family: 'Ubuntu Condensed', Roboto;

}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100%;
  height: 100%;
}
      
nav {
    display: block;
    margin: 1rem auto;
}
ul li{
    list-style: none;
    display: inline;
    margin: 1rem;
    padding: 1rem;
}
ul li a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--white-color);
    transition: all 300ms;
}
ul li a:hover {
    background-color: #4e664f;
}

